{% from 'bootstrap/form.html' import render_field, render_hidden_errors %}

{% extends 'base.html' %}
{% block content %}

<div class="container justify-content-center my-4 text-center">

  <h3 class="display-4">Request reset password.</h3>

  <div class="row justify-content-center my-4">

    <div class="col-8 text-center">

      <form method="POST" autocomplete="off">

        {{ form.csrf_token() }}
        {{ render_hidden_errors(form) }}
        
        {{ render_field(form.email,
        form_type="horizontal") }}

        <button class="btn btn-primary" type="submit">Send me an email!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


