<div id="set-carousel" class="carousel slide" data-ride="carousel" data-interval="false" data-keyboard="false">
    <div class="carousel-inner">
        {% for verse in set.verses %}
            <div class="carousel-item">
                <div class="card m-auto" style="width: 26rem; height: 15rem;">
                    <div class="card-body">
                        <div class="front">
                            <p class="h4">
                                <b>{{ verse.reference }}</b>
                            </p>
                        </div>
                        <div class="back overflow-auto">
                            {{ verse.verse }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <a class="carousel-control-prev" href="#set-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#set-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>