{% if set_paginate.pages != 0 %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if set_paginate.page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('explore', page=set_paginate.prev_num) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page_num in set_paginate.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if set_paginate.page == page_num %}
                    <li class="page-item active">
                        <a class="page-link" href="{{ url_for('explore', page=page_num) }}">
                        {{ page_num }}
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('explore', page=page_num) }}">
                        {{ page_num }}
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li class="page-item {% if set_paginate.page == set_paginate.pages %} disabled {% endif %}">
                <a class="page-link" href="{{ url_for('explore', page=set_paginate.next_num) }}"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>

    <p class="mb-5 mt-3 text-center">
        Showing page {{ set_paginate.page }} of {{ set_paginate.pages }}
    </p>

{% endif %}
