{% from 'bootstrap/utils.html' import render_messages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bible Memorization Website</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    {% block styles %}
    {% endblock %}
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">MTWord</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Sets</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{url_for('create_new_set')}}">New Set</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">My Sets</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('explore') }}">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                
            </ul>

            <form class="form-inline my-2 my-lg-0 justify-content-center">
                <input class="form-control mr-sm-2" type="text" placeholder="Search for sets">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

            <ul class="navbar-nav justify-content-end">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">My Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">My Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('show_user_sets', user_id=current_user.id)}}">My Sets</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {{ render_messages(dismissible=True, dismiss_animate=True) }}

    {% block content %}{% endblock %}

    <!-- <div class="container text-center">
        <h1>Bible Verse Retriever (ESV)</h1>

        <form class="form" id="verse-form" autocomplete="off">
            <div class="form-group mx-sm-3 mb-2">
                <label for="bibleVerse">Bible Verse</label>
                <input type="text" class="form-control" id="verse" placeholder="Verse">
            </div>
            <button type="submit" class="btn btn-primary mb-2" id="verse-retriever-submit">Submit</button>
        </form>

        <h3 id="bible-verse"></h3>

    </div> -->

    
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- <script src="../static/bootstrap.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script> -->
    {{ bootstrap.load_js() }}

    {% block scripts %}{% endblock %}
</body>

</html>