{% from 'sets/_pagination.html' import pagination %}

{% extends 'base.html' %}

{% block content %}

<div class="container justify-content-center my-4">

    <h3 class="display-4 my-4">User Info</h3>
    
    <div class="row my-3">
        <div class="col-lg-3">
            <h3>Name: {{ user.full_name }}</h3>
            <div>
                <p>Bio: <br>
                {{user.bio}}
                </p>

            </div>
        </div>

        <div class="col-lg-9">
            {% include 'sets/_sets.html' %}
            
            {{ pagination(set_paginate, "/users/%s"|format(user.id) ) }}
        </div>
    </div>
</div>

{% endblock %}